@model MyMeetUp.Web.Areas.Admin.ViewModels.GroupCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Group.Name" class="control-label"></label>
                <input asp-for="@Model.Group.Name" class="form-control" />
                <span asp-validation-for="@Model.Group.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Group.AboutUs" class="control-label"></label>
                <input asp-for="@Model.Group.AboutUs" class="form-control" />
                <span asp-validation-for="@Model.Group.AboutUs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col">
                    <label asp-for="GroupCategories" class="control-label row"></label>
                    <select class="row" asp-for="@Model.GroupCategories" type="text" name="GroupCategories" id="GroupCategories" asp-items="@ViewBag.GrupoCategories"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Group.Country" class="control-label"></label>
                <input asp-for="@Model.Group.Country" class="form-control" />
                <span asp-validation-for="@Model.Group.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Group.City" class="control-label"></label>
                <input asp-for="@Model.Group.City" class="form-control" />
                <span asp-validation-for="@Model.Group.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Group.CreationDate" class="control-label"></label>
                <input asp-for="@Model.Group.CreationDate" class="form-control" />
                <span asp-validation-for="@Model.Group.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Group.FinalizationDate" class="control-label"></label>
                <input asp-for="@Model.Group.FinalizationDate" class="form-control" />
                <span asp-validation-for="@Model.Group.FinalizationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
