@model IEnumerable<MyMeetUp.Web.Models.GroupMemberProfile>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Perfiles de Miembros en un Grupo</h1>

<p>
    <a asp-action="Create">Nuevo Perfil</a>
</p>
<table class="table datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
